.button-container {
  height: 83px;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--btn-number);
  color: var(--text-main);
  outline: none;
  border-radius: 25px;
  border:none;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.button-container:active {
  transform: scale(0.95); 
  opacity: 0.8;         
}

.button-container:hover {
    background-color: var(--btn-number-hover);
  }

.operator {
  background-color: var(--btn-operator);
}

.operator:hover { 
    background-color: var(--btn-operator-hover);
  }